body {
    position: relative;
    font-family: Helvetica, Arial, sans-serif;
    font-size: 100%;

    width: 100%;
    margin: 0 auto;
    padding: 10px;
    color: #333;
}

.login-area {
    font-size: 80%;
    color: gray;
    position: absolute;
    top: 10px;
    right: 10px;
}

.login-link {
    color: gray;
    text-decoration: none;
}

.login-link:visited {
    color: gray;
}

.login-link:hover {
    text-decoration: underline;
}

.menu {
    text-align: center;
}

a.menu-item {
    color: #222;
    font-size: 90%;
    font-weight: bold;
    text-decoration: none;
}

a.menu-item + a.menu-item {
    margin-left: 10%;
}

h2 {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
}

h3 {
    font-size: 12px;
    font-weight: bold;
    margin-top:1%;
    margin-bottom: 1%;
}

.error {
    color: red;
}

label {
  display: block;
  font-size: 100%;
}

label + label {
    margin-top: 20px;
}

input[type=text] {
    width: 200%;
    font-size: 100%;
    padding: 1%;
    font-family: monospace;
}

textarea {
  width: 200%;
  height: 400px;
  font-family: monospace;
}

textarea.todolist {
  width: 100%;
  height: 60%;
  font-size: 100%;
  font-family: monospace;
}

textarea.comment {
  width: 80%;
  height: 160%;
  font-size: 80%;
  font-family: monospace;
}

input[type=submit] {
  font-size: 100%;
}

input[type=text], input[type=password] {
  font-size: 15px;
  width: 200px;
}

.main-title {
    display: block;
    color: #222;
    font-size: 150%;
    font-weight: bold;
    text-align: center;
    margin-bottom: 3%;
    margin-top: 5%;
    text-decoration: none;
}

.sub-title {
    display: block;
    color: #222;
    font-size: 90%;
    font-weight: bold;
    text-align: center;
    margin-bottom: 5%;
    text-decoration: none;
}

label.yesorno {
    display: block;
    color: #222;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    margin-bottom: 0px;
    margin-top: 0px;
    text-decoration: none;
}

.main-button {
    display: block;
    color: #999;
    font-size: 15px;
    font-weight: bold;
    text-align: center;
    margin-bottom: 30px;
    text-decoration: none;
}

.post + .post {
    margin-top: 15px;
}

.post-heading {
    position: relative;
    border-bottom: 3px solid #666;
}

.post-title {
    font-size: 90%;
    font-weight: bold;
    text-decoration: none;
    color: #222;
}

.post-title.space-below {
    margin-bottom: 1%;
}

.post-edit {
    font-size: 100%;
    font-weight: bold;
    text-decoration: none;
    color: #999;
}

.post-date {
    position: absolute;
    font-size: 80%;
    right: 0px;
    bottom: 0px;
    color: #999;

}

.post-content {
    margin-top: .5%;
}

.original-post {
    font-size: 15px;
    margin-left: 5%;
}

.pre-label {
    font-size: 20px;
    margin-left: 5%;
    color: #777;
}

.input-login {
    width: 500px;
    font-size: 20px;
    padding: 2px;
    font-family: monospace;
}

.comment-heading {
    margin-bottom: 10px;
    font-size: 13px;
    font-weight: bold;
    text-decoration: none;
    color: #666;
}

.comments-contents{
    font-size: 80%;
    text-decoration: none;
    color: #666;
}

.comment-edit {
    font-size: 80%;
    font-weight: bold;
    text-decoration: none;
    color: #999;
}

.comment-date {
    font-size: 100%;
    font-weight: bold;
    color: #333;    
}

h1.summary-title {
    text-align: center;
    font-size: 100%;
}

h3.summary-content {
    text-align: center;
}

a.summary-date {
    font-size: 100%;
    font-weight: bold;
    text-decoration: none;
    color: #999;
}

.goback-button {
    display: block;
    color: #222;
    font-size: 100%;
    font-weight: bold;
    text-align: left;
    margin-top: 20px;
    text-decoration: none;    
}

table {
    width: 90%;
}

td.content {
    font-size: 65%;
    padding-top: 0;
    padding-bottom: 0;
}

td.label {
    font-size: 65%;
    width: 45%;
    font-weight: bold;
    padding-top: 0;
    padding-bottom: 0;
}

tr  {
    line-height: 80%;
}

tr.summary  {
    line-height: 100%;
}

table.summary {
    text-align: center;
    font-size: 50%;
}

table.summary-stat {
    font-size: 100%;
}

tr.heading {
    font-weight: bold;
    line-height: 90%;
}