<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Wonjun Lee's Portfolio</title>
  <link href="https://fonts.googleapis.com/css?family=Lato:100,300" rel="stylesheet">
  <link type="text/css" rel="stylesheet" href="/static/main.css" />

  <title>Wonjun - School Planning</title>
</head>

<body>
  <a href="/" class="main-title">
    Wonjun's schedule
  </a>

  <div class="login-area">
    {% if user %}
      {{user.name}} (<a class="login-link" href="/logout">logout</a>)
    {% else %}
      <a class="login-link" href="/login">login</a>
      |
      <a class="login-link" href="/signup">signup</a>
    {% endif %}
  </div>
  <hr>
  <div class="menu">
    <a href="/" class="menu-item">
      Home
    </a>
    <a href="/summary" class="menu-item">
      Summary
    </a>
  </div>
  <hr>
  <div id="content">
  {% block content %}
  {% endblock %}
  </div>
</body>

</html>

