  <div class="post-content">
  <h3>{{ p.total }} Tasks Completed</h3>
    <table style="margin-left:5%">
      <tr>
        <td class="label">
          {{p.gre_words}} GRE - Words
        </td>
        <td class="content">
          {{p.gre_words_more}}
        </td>
      </tr>
      <tr>
        <td class="label">
          {{p.gre_essays}} GRE - Essays
        </td> 
        
        <td class="content">
          {{p.gre_essays_more}}
        </td>
      </tr>
      <tr>
        <td class="label">
          {{p.gre_verbal}} GRE - Verbal
        </td>
        
        <td class="content">
          {{p.gre_verbal_more}}
        </td>
      </tr>
      <tr>
        <td class="label">
          {{p.gre_math}} GRE Math
        </td>
        
        <td class="content">
          {{p.gre_math_more}}
        </td>
      </tr>
      <tr>
        <td class="label">
          {{p.school_research}} School Research
        </td>
        
        <td class="content">
          {{p.school_research_more}}
        </td>
      </tr>
      <tr>
        <td class="label">
          {{p.sop}} Statement of Purpose
        </td>
        
        <td class="content">
          {{p.sop_more}}
        </td>
      </tr>
      <tr>
        <td class="label">
          {{p.other}} Other
        </td>
        
        <td class="content">
          {{p.other_more}}
        </td>
      </tr>
    </table>
  </div>

